.convert-container {
  margin: 32px 0 64px;
}

.convert-form {
  max-width: 440px;
  margin: auto;
}
.mat-elevation-z4.convert-form {
  padding: 32px;
  border-radius: 16px;
  background: white;
}
.amount-input {
  font-size: 18px;
  text-align: center;
}

.mat-form-field {
  min-width: 200px;
  max-width: 200px;
}

.convert-btn {
  width: 200px;
}

.convert-output {
  text-align: center;
  .amount-output {
    font-size: 36px;
    font-weight: 300;
    margin: 0;
  }
  .exchange-rate {
    opacity: 0.5;
    font-size: 14px;
  }
}
