@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
@include mat-core();

$mx-app-primary: mat-palette($mat-teal);
$mx-app-accent: mat-palette($mat-green, A200, A100, A400);
$mx-app-warn: mat-palette($mat-red);
$mx-light-theme: mat-light-theme($mx-app-primary, $mx-app-accent, $mx-app-warn);
$mx-dark-theme: mat-dark-theme($mx-app-primary, $mx-app-accent, $mx-app-warn);

@include angular-material-theme($mx-light-theme);

.mx-dark-theme {
  @include angular-material-theme($mx-dark-theme);
}
