<section class="conversion-history" *ngIf="convertionHistory && convertionHistory.length > 0">
  <div role="list">
    <h3 matSubheader class="recent-label">Recent conversions</h3>
    <mat-card role="listitem" *ngFor="let conversion of convertionHistory; trackBy: trackByFn" class="history-item">
      <span>{{ conversion.from }}</span>
      <span>{{ conversion.value }}</span>
      <span>to {{ conversion.to }}</span>
      <span>{{ conversion.convertedValue }}</span>
      <span>at {{ conversion.created | date: 'medium' }}</span>
    </mat-card>
  </div>
</section>
