.app-shell {
  min-height: 100vh;
}

.header {
  padding: 16px;
  .branding {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 24px;
    .app-name {
      margin: 0 4px;
    }
    .title-small {
      font-weight: 300;
    }
  }
}

.body-container {
  margin: 0 auto;
  max-width: 780px;
  padding: 24px;
}
